<h3 [ngClass]="{ 'strike-out': !anio.activo }">
    {{ anio.nombre || 'No tiene título' }}
</h3>

<div class="card-content">
    Año: {{ anio.activo }}
    <br>
    <p>Detalle Anio</p>
</div>

<div class="card-footer">
    <span class="button is-small is-info card-footer-anio" (click)="updateNombre()">Editar Nombre</span>
    <span class="button is-small is-success card-footer-anio" *ngIf='anio.activo' (click)='updateEstado(false)'>Activar</span>
    <span class="button is-small is-warning card-footer-anio" *ngIf='!anio.activo' (click)='updateEstado(true)'>Desactivar</span>
    <span class="button is-small is-danger card-footer-anio" (click)='deleteAnio()'>Eliminar</span>
</div>