<h1>Años</h1>
<p>Años de apertura.</p>
<button type="button" class="button is-info" (click)="showNuevoAnio()" >Nuevo</button>

<div *ngFor = "let anio of anios | async" class="card">
  <crm-anio-detail [anio] = "anio"></crm-anio-detail>
</div>

<crm-loading-spinner *ngIf="showSpinner"></crm-loading-spinner>

<button type="button" class="button is-danger" (click)="deleteAnio()">Eliminar toda la lista</button>

<hr>




<div [ngClass]="{ 'modal': true, 'is-active': isActiveModal }">
  <div class="modal-background" (click)="hideNuevoAnio()"></div>
  <div class="modal-content">
    <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Nuevo Año.</p>
      <!-- <button class="delete" aria-label="close"></button> -->
    </header>
    <section class="modal-card-body">
      <form [formGroup]="anioForm" >
        <div class="field">
          <label class="label" for="nombre">Nombre</label>
          <div class="control">
            <input class="input" formControlName="nombre" name="nombre" type="text" placeholder="Nombre del Año">
            <div *ngIf="formErrors.nombre" class="notification is-danger" >
              {{ formErrors.nombre }}
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="activo">
              Activo
            </label>
          </div>
        </div>
        <!--<div class="field">
          <div class="control">
            <label class="radio">
              <input type="radio" name="activo">
              Activo
            </label>
            <label class="radio">
              <input type="radio" name="activo">
              Desactivo
            </label>
          </div>
        </div>-->
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Guardar</button>
      <button class="button">Cancelar</button>
    </footer>
  </div>
  </div>
  <button class="modal-close is-large" (click)="hideNuevoAnio()" aria-label="close"></button>
</div>

<crm-anio-form></crm-anio-form>