<div class="content columns">
  <aside class="column is-3">
    <crm-user-profile></crm-user-profile>
  </aside>

  <main class="column is-9">
  <section id="content" class="current">
    <div class="has-text-centered">
                <div class="features-list componentes">
                    <div class="columns is-desktop">
                        <div class="column">
                            <div class="feature-block bootdey" >
                                <!-- <div class="ico fa fa-magic"> -->
                                <div class="">
                                  <img class="img" src="https://blogucn.files.wordpress.com/2013/10/ministerio-de-la-mujer-web.png">
                                </div>
                                <div class="name">
                                    Ministerio de la Mujer
                                </div>
                                <div class="text">Información general de todas las personas registradas en el sistema </div>
                                <div class="more">
                                    <a href="#" class="button is-primary is-outlined">
                                        <span>
                                        Ingresar        
                                        </span>
                                        <span class="icon is-small">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="feature-block bootdey" >
                                <!-- <div class="ico fa fa-magnet"> -->
                                <div class="">
                                  <img class="img" src="https://iasdnuevorepueblo.files.wordpress.com/2013/02/triangulo1-copy.png">
                                </div>
                                <div class="name">
                                    Conquistadores
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                <div class="more">
                                    <a routerLink="conquistadores" class="button is-primary is-outlined">
                                        <span>
                                        Ingresar        
                                        </span>
                                        <span class="icon is-small">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="feature-block bootdey" >
                                <!-- <div class="ico fa fa-gift"> -->
                                <div class="">
                                  <img class="img" src="https://i0.wp.com/superconqui.com/wp-content/uploads/2016/08/Club-de-Aventureros.png">
                                </div>
                                <div class="name">
                                    Aventureros
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                <div class="more">
                                    <a href="#" class="button is-primary is-outlined">
                                        <span>
                                        Ingresar        
                                        </span>
                                        <span class="icon is-small">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-desktop">
                        <div class="column is-one-third">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <!-- <div class="ico fa fa-cubes"> -->
                                <div class="">
                                  <img class="img" src="http://jovenes.adventistassureste.org/wp-content/uploads/2016/03/logo-vector-ja-03.png">
                                </div>
                                <div class="name">
                                    JA
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                <div class="more">
                                    <a href="#" class="button is-primary is-outlined">
                                        <span>
                                        Ingresar        
                                        </span>
                                        <span class="icon is-small">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <!-- <div class="ico fa fa-expand"> -->
                                <div class="">
                                  <img class="img" src="https://iasd418smn.files.wordpress.com/2012/10/adventista-diaconos.gif">
                                </div>
                                <div class="name">
                                    Diaconato
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                <div class="more">
                                    <a href="#" class="button is-primary is-outlined">
                                        <span>
                                        Ingresar        
                                        </span>
                                        <span class="icon is-small">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <div class="ico fa fa-send-o"></div>
                                <div class="name">
                                    Contact Form
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames </div>
                                <div class="more">
                                    <a href="#" class="button is-primary is-outlined">
                                        <span>
                                        Ingresar        
                                        </span>
                                        <span class="icon is-small">
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
  </section>

  </main>
<!-- 
  <aside class="column is-1">

  </aside> -->
</div>
<!--
<router-outlet></router-outlet>
-->  