<crm-top-nav></crm-top-nav>

<div class="content columns">
<!--   <aside class="column is-2 is-offset-1">
    <crm-user-profile></crm-user-profile>
  </aside> -->
  <aside class="column is-1">
  </aside>
  <main class="column is-10">
    <router-outlet></router-outlet>
  </main>

  <aside class="column is-1">
  </aside>
</div>
  <!-- <crm-unidades-list></crm-unidades-list> -->
  <!-- <form [formGroup] = "formUnidad" #unidadForm="ngForm" (ngSubmit)="onSubmit()" >
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" formControlName="nombre">
    <p style="color: red" *ngIf="formUnidad.controls.nombre.errors">Este campo es requerido</p>
    <label for="estado">Estado</label>
    <input type="checkbox" name=estado formControlName="estado">

    <button type="submit" [disabled]="!unidadForm.form.valid">Guardar</button>
  </form>
   <p>Form value: {{ formUnidad.value | json }}</p> 
   <p>Form status: {{ formUnidad.status | json }}</p> 
  <ul>
    <li class="text" *ngFor="let unidad of unidades | async ">
      {{ unidad.nombre }}
      <button (click)="onEdit(unidad.$key)">Edit</button>
      <button (click)="onDelete(unidad.$key)">Delete</button>
    </li>
  </ul> -->
<!-- </div> -->
<crm-footer-nav></crm-footer-nav>